.contact-container {
    padding: 35px;
    height: 800px;
    margin: auto;
    width: 50%;
    text-align: center;



    .contact {
        display: block;
        margin: auto;
        padding: 25px;
    }
}